<!-- //Utilisation de CARD ET Form input group -->

<div class="container my-container">
  <div class="card">
    <div class="card-header">Se connecter</div>
    <div class="card justify-content-md-center">
      <div class="card-body">
        <div class="mb-3">
          <input
            type="email"
            class="form-control"
            id="floatingInput"
            placeholder="E-mail"
          />
        </div>
        <div class="mb-3">
          <input
            type="password"
            class="form-control"
            id="floatingPassword"
            placeholder="Mot de passe"
          />
        </div>
        <div class="mb-3 d-flex justify-content-between">
          <button
            class="button-connexion"
            type="button"
            class="btn btn-primary"
          >
            <em class="fa-solid fa-check"></em>
            Se connecter
          </button>
          <a
            [routerLink]="['/inscription']"
            class="button-connexion"
            type="button"
            class="btn btn-link"
          >
            <p class="fw-bold">S'inscrire</p></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
